*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans";
}

body{
    margin-bottom: 20px;
    padding-top: 114px;
    background: linear-gradient(90deg, #eefbff 0, #f6fcff);
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loader img {
    width: 100px;
    height: auto;
}

.app-ad{
    display: none;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 10px 0 20px 0;
    box-sizing: border-box;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.header-top{
    height: 37px;
    display: flex;
    justify-content: space-between;
}

.header-loc{
    margin-left: 151px;
    display: flex;
    cursor: pointer;
}

.header-info{
    width: 325px;
    display: flex;
}

.header-info a{
    color: #333333;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    margin: 0 20px 0 0;
}

.header-info .phone{
    width: 17px;
    height: 17px;
    margin-right: 10px;
    background-image: url("asset/phone.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-info .email{
    width: 17px;
    height: 17px;
    margin-right: 10px;
    background-image: url("asset/email.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 20px;
    box-sizing: border-box;
}

.header-left{
    display: flex;
    flex-direction: row;
}

.logo{
    margin-top: -10px;
}

.header-right{
    display: flex;
    margin-right: 10px;
}

.header-right > button{
    width: 32px;
    height: 32px;
    margin-right: 18px;
    border-radius: 50%;
    border: none;
    background-color: #00b2a2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
}

.header-right .search{
    background-image: url("asset/search.svg");
}

.search-bar-panel{
    width: 100%;
    padding: 30px;
    display: none;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 6;
    box-sizing: border-box;
    background-color: white;
}

.search-bar-panel .close-panel{
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #333333;
    padding: 2px 0 2px 35px;
    background-color: white;
    background-image: url("asset/close.svg");
    background-position: 0px center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
}

.search-bar-panel h2{
    width: 100%;
    margin-top: -10px;
    text-align: center;
    color: #333333;
    font-size: 2.825em;
    font-weight: 900;
    font-style: italic;
    font-family: "Source Serif 4", serif;
}

.search-bar{
    display: flex;
    justify-content: center;
}

.search-bar-panel .search-wraper{
    width: 500px;
    display: flex;
    flex-direction: row;
    margin-top: 45px;
}

.search-wraper input{
    border: 1px solid #bbb;
    border-radius: 5px 0 0 5px;
    width: 100%;
    outline: none;
    padding: 15px;
    font-size: 1em;
    font-family: "Work Sans";
    box-sizing: border-box;
    background-color: white;
}

.search-wraper button{
    color: #d0d0d0;
    margin-left: -8px;
    border-radius: 8px;
    padding: 15px 25px;
    font: 500 1em "Work Sans";
    outline: none;
    border: none;
    cursor: pointer;
    border: 1px solid #00645b;
    background-color: #00645b;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.search-wraper button:hover{
    color: #333333;
    background-color: white;
}

.top-brands{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.top-brands p{
    color: #333333;
    text-align: center;
    font: 500 1.125em "Work Sans";
    margin: 20px 0;
}

.top-brands div{
    display: flex;
}

.top-brands label{
    margin: 0 5px;
    display: inline-block;
    background-color: #fff;
    padding: 10px 20px;
    font: 700 .875em "Work Sans";
    border: 1px solid #e4e4e4;
    border-radius: 23px;
    color: #333;
}

.header-right .login{
    background-image: url("asset/user.svg");
    background-size: 21px 21px;
}

.header-right .login:hover + .login-drop-down, .login-drop-down:hover{
    display: block;
}

.login-drop-down{
    width: 150px;
    top: 100%;
    display: none;
    margin-top: -15px;
    margin-left: -100px;
    flex-direction: column;
    position: absolute;
    list-style: none;
    padding: 15px 15px 5px 15px;
    border-radius: 10px;
    background-color: white;
}

.login-drop-down li{
    font-size: 16px;
    margin-bottom: 15px;
    transition: padding-left .25s ease-out;
}

.login-drop-down li:hover{
    padding-left: 10px;
}

.login-drop-down li a{
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    color: #333333;
    font-weight: 500;
}

.header-right .cart{
    background-image: url("asset/cart.svg");
    background-size: 20px 20px;
}

.empty-cart-msg{
    width: 100%;
    padding: 20px;
    text-align: center;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    font-weight: 600;
    box-sizing: border-box;
    transition: all 0.5s ease-out;
    background-color: #ffe667;
}

header .logo .menu{
    display: none;
}

header .header-right span{
    display: none;
}

@media screen and (max-width: 1149px) {
    header nav{
        display: none;
    }

    header{
        padding-bottom: 20px;
    }
}


.phone-menu{
    display: none;
}













.help-btn{
    position: fixed;
    bottom: 30px;
    right: 32px;
}

.help-btn button{
    color: white;
    border: none;
    outline: none;
    font-size: 11px;
    font-weight: 500;
    border-radius: 25px;
    padding: 17px 12px 17px 40px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
    background-color: #00b2a2;
    background-image: url("asset/help-chat.jpg");
    background-position: 12px center;
    background-repeat: no-repeat;
    background-size: 18px 18px;

}

.help-btn:hover{
    border-radius: 5px 5px 0 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.help-btn button:hover{
    background-color: #008d7b;
}







main{
    width: 100%;
    height: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

main .main-1200px{
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.login-top{
    display: flex;
    justify-content: space-between;
}

.login-top h1{
    color: #333333;
    font: 500 1.875em "Work Sans";
}

.login-top h5{
    color: #333333;
    font: 500 1.125em "Work Sans";
    background-color: #e4f9ff;
    padding: 10px 20px;
    border-radius: 30px;
    text-align: center;
}

.login-top h5 a{
    color: #1d5c49;
}

.login-panel{
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    margin: 30px 0;
    box-shadow: 0 0 16px rgba(0, 0, 0, .1);
}

.login-panel h3{
    color: #333333;
    font: 600 1.5em "Work Sans";
    margin-bottom: 8px;
}

.login-panel .inputs{
    width: 100%;
    display: flex;
}

.login-panel .form-group, .login-panel .buttons section{
    width: 33.333333333%;
    margin: 0 50px 30px 0;
}

.login-panel .form-group p{
    float: right;
    font-size: 14px;
    color: #9a9a9a !important;
    padding: 2px;
    margin: 0;
}

.form-group .dob{
    background-image: url("asset/cal.jpg");
    background-position: calc(100% - 15px) center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.login-panel .inputs input{
    width: 100%;
    box-sizing: border-box;
    padding: 13px 13px;
    border: 1px solid #bbb;
    border-radius: 8px;
}

.form-group label {
    position: relative;
    display: block;
    margin-top: 20px;
}

.form-group input {
    width: 100%;
    padding: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
}

.form-group input:focus {
    border-color: gray;
}

.form-group span {
    position: absolute;
    left: 12px;
    top: 12px;
    font-size: 16px;
    color: #333;
    transition: 0.3s ease;
    pointer-events: none;
    font: 500 1.125em "Work Sans";
}

.form-group input:focus + span,
.form-group input:not(:placeholder-shown) + span {
    top: -10px;
    left: 8px;
    font-size: 12px;
    color: #333;
    padding: 0 5px;
    background-color: white;
}

.form-wrapper .text{
    color: #333333;
    font: 500 1.125em 'Work Sans';
    margin-bottom: 30px;
}

.login-panel .buttons{
    display: flex;
}

.login-panel .buttons button{
    color: #d0d0d0;
    font-size: 1.125em;
    font-weight: 700;
    border-radius: 23px;
    padding: 10px 30px;
    display: inline-block;
    border-color: #00645b;
    background-color: #00645b;
    border: 1px solid transparent;
    transition: all 0.5s ease-out;
    cursor: pointer;
}

.login-panel .buttons button:hover{
    color: #000;
    border-color: #00645b;
    background-color: white;
}

.login-panel .buttons a{
    color: #00645b;
    font-size: 1.125em;
    font-weight: 700;
    border-radius: 23px;
    padding: 10px 30px 10px 0px;
    display: inline-block;
    border: 1px solid transparent;
    transition: all 0.5s ease-out;
}

.login-panel .buttons a:hover{
    color: #000;
    padding: 10px 30px;
    border-color: #00645b;
    background-color: white;
}

.social-buttons{
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
}

.social-buttons button{
    width: 320px;
    font: 700 1.6em "Work Sans";
    border-radius: 23px;
    padding: 10px 30px;
    font-size: 1.125em;
    margin-right: 40px;
    background-color: white;
    background-image: url("https://www.bisleri.com/images/google.webp");
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 35px;
}

.social-buttons .facebook{
    background-image: url("https://www.bisleri.com/images/facebook.webp");
    border: 2px solid #4267b2;
    color: #4267b2;
}

















.second-footer ul{
    list-style: none;
    display: flex;
}

.second-footer li{
    display: flex;
    margin-right: 50px;
}

.second-footer span{
    font-weight: 500;
    color: #333333;
}

.delivery img{
    width: 45px;
    height: 35px;
}

.delivery span{
    padding: 8px 20px;
}

.quality img{
    width: 35px;
    height: 35px;
}

.quality span{
    padding: 7px 20px;
}

.secured img{
    width: 35px;
    height: 35px;
}

.secured span{
    padding: 7px 20px;
}




















footer{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #9a9a9a;
}

footer .footer-cont{
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    padding-bottom: 30px;
}

footer .footer-cont ul{
    list-style: none;
    display: flex;
}

footer ul i{
    width: 70px;
    height: 45px;
    display: block;
    border-radius: 3px;
    margin-right: 10px;
    background-color: #00b2a2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 76px 50px;
}

footer ul .visa{
    background-image: url("asset/visa.jpg");
}

footer ul .mastercard{
    background-image: url("asset/mastercard.jpg");
}

footer ul .paytm{
    background-image: url("asset/paytm.jpg");
}

footer ul .maestro{
    background-image: url("asset/maestro.jpg");
}

footer ul img{
    width: 70px;
    margin-right: 10px;
}

footer .footer-help{
    font: 700 1.125em "Work Sans";
    color: #333333;
    text-decoration: none;
}


@media screen and (max-width: 770px) {
    .app-ad{
        top: 0;
        left: 0;
        right: 0;
        z-index: 11;
        position: fixed;
        padding: 10px;
        display: flex;
        align-items: center;
        background-color: #c0edfa;
        justify-content: space-between;
    }

    header{
        top: 72px;
        padding: 15px 20px;
        box-sizing: border-box;
    }

    header .header-top{
        display: none;
    }

    header .header-bottom{
        padding: 0;
    }

    header .logo{
        display: flex;
        margin: 0;
    }

    header .logo .menu{
        width: 40px;
        display: block;
        border: none;
        outline: none;
        background-image: url("asset/menu.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 35px 35px;
    }

    header .logo img{
        width: 80%;
    }

    header .header-right{
        margin-right: -5px;
    }

    header .header-right span{
        display: block;
        font-size: 12px;
        padding: 10px 0;
    }

    header .header-right .login{
        display: none;
    }

    header .header-right button{
        width: 25px;
        height: 25px;
        margin: 5px 0 0 20px;
        background-size: 18px 18px !important;
    }

    .search-bar-panel{
        display: none;
        padding: 50px 0;
    }

    .search-bar-panel div{
        width: 100% !important;
    }

    .search-bar-panel h2{
        font-size: 23px;
    }

    .search-bar-panel .close-panel{
        top: 12px;
        right: 50px;
        padding-left: 25px;
        font-size: 12px;
    }

    .search-wraper{
        margin-top: 20px !important;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .search-wraper input{
        font-size: 12px;
    }

    .search-wraper button{
        font-size: 12px;
    }

    .top-brands{
        margin: 0px !important;
    }

    .top-brands p{
        font-size: 14px;
    }

    .top-brands div{
        width: 300px !important;
        flex-wrap: wrap;
        margin: auto;
    }

    .top-brands label{
        margin-bottom: 15px;
        font-size: 10px;
    }

    .phone-menu{
        width: 0%;
        position: fixed;
        top: 72px;
        left: -50px;
        right: 0;
        bottom: 0;
        z-index: 20;
        background-color: white;
        display: flex;
        transition: width 0.3s ease;
    }
    
    .phone-menu .list-cont{
        width: 100%;
        height: 100%;
        display: flex;
        overflow-y: scroll;
        flex-direction: column;
    }
    
    .log-reg{
        background: linear-gradient(180deg, #9fdeef 0, #a9e4e2 23%, #aae2df 24%, #b0e5dd 32%, #afe4da 33%, #b4e7d6 42%, #b3e6d3 43%, #b6e7d4 45%, #b6e7d1 50%, #bceacd 58%, #bbeaca 59%, #c0ecc8 68%, #c1ebc5 69%, #c3eec3 74%, #c3ecc0 75%, #c9efbe 83%, #c8eebb 84%, #cef1b7 93%, #ccf0b3 94%, #cff2b2);
    }
    
    .phone-menu .close-menu{
        width: 40px;
        height: 40px;
        border: none;
        outline: none;
        box-sizing: border-box;
        background-image: url("asset/x.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 35px 35px;
        background-color: white;
    }
    
    .phone-menu .list-cont li{
        width: 100%;
        padding: 0 5px;
        font-size: 17px;
        box-sizing: border-box;
    }
    
    .phone-menu .list-cont li a, .phone-menu .list-cont li p{
        width: 100%;
        display: block;
        font-size: 17px;
        padding: 25px 15px;
        color: #333333;
        text-decoration: none;
        box-sizing: border-box;
        border-bottom: 1px solid #e5e5e5;
    }
    
    .phone-menu .list-cont li .exp{
        background-image: url("asset/right.svg");
        background-position: calc(100% - 10px) center;
        background-repeat: no-repeat;
        background-size: 20px 20px;
    }
    
    .phone-menu section a{
        color: #333333;
        text-decoration: none;
        font-size: 17px;
        display: flex;
        padding: 15px 60px;
    }
    
    .phone-menu section .phone{
        background-image: url("asset/phone.jpg");
        background-position: 20px center;
        background-repeat: no-repeat;
        background-size: 20px 20px;
    }
    
    .phone-menu section .email{
        background-image: url("asset/email.jpg");
        background-position: 20px center;
        background-repeat: no-repeat;
        background-size: 20px 20px;
    }

    .exp-menu{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        background-color: white;
    }

    .exp-menu ul li:first-child{
        padding-left: 30px;
        box-sizing: border-box;
        background-image: url("asset/left.svg");
        background-position:  15px center;
        background-repeat: no-repeat;
        background-size: 20px 20px;
    }

    .close-menu-div{
        z-index: 10;
        background-color: white;
        border-left: 1px solid #e5e5e5;
    }

    .search-bar-panel{
        display: none;
        padding: 50px 0;
    }

    .search-bar-panel div{
        width: 100% !important;
    }

    .search-bar-panel h2{
        font-size: 23px;
    }

    .search-bar-panel .close-panel{
        top: 12px;
        right: 50px;
        padding-left: 25px;
        font-size: 12px;
    }

    .search-wraper{
        margin-top: 20px !important;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .search-wraper input{
        font-size: 12px;
    }

    .search-wraper button{
        font-size: 12px;
    }

    .top-brands{
        margin: 0px !important;
    }

    .top-brands p{
        font-size: 14px;
    }

    .top-brands div{
        width: 300px !important;
        flex-wrap: wrap;
        margin: auto;
    }

    .top-brands label{
        margin-bottom: 15px;
        font-size: 10px;
    }













    .app-ad-wrap{
        display: flex;
        align-items: center;
    }

    .app-ad-wrap i{
        width: 20px;
        height: 20px;
        background-image: url("asset/x.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px 25px;
    }

    .app-ad-wrap a{
        margin-left: 5px;
    }

    .app-ad-wrap h4{
        color: #333333;
        margin-right: 10px;
        margin-left: 10px;
        font-weight: 400;
        font-size: 12px;
    }

    .app-ad .use-app-link a{
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        font-size: 12px;
        background-color: #1d5c49;
        border-radius: 10px;
        color: #fff;
        white-space: nowrap;
    }












    .login-top h1{
        font-size: 23px;
    }

    .login-top h5{
        font-size: 14px;
    }

    main > div{
        max-width: none;
    }

    .login-top{
        padding-top: 60px;
    }
    
    .login-panel h3{
        font-size: 18px;
    }

    .login-panel .inputs, .login-panel .buttons{
        flex-direction: column;
    }

    .login-panel .form-group{
        margin: 0;
    }

    .login-panel .form-group:nth-child(2){
        margin-top: 10px;
    }

    .login-panel .inputs input, .login-panel .inputs span{
        font-size: 15px;
        width: 100%;
    }

    .login-panel .inputs span{
        width: auto;
        top: 13px;
    }

    .login-panel .form-group p{
        font-size: 11px;
    }

    .form-wrapper .text{
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .buttons section{
        width: 100% !important;
        margin: 20px 0 0 0 !important;
    }

    .login-panel .buttons button{
        width: 100%;
        margin-top: 20px;
        font-size: 14px;
    }

    .login-panel .buttons a{
        font-size: 14px;
        padding: 10px 30px 10px 0;
    }

    .social-buttons{
        display: flex;
        margin-bottom: 0;
        flex-direction: column;
    }

    .social-buttons button{
        width: 260px;
        margin: 0 auto;
        margin-bottom: 40px;
        font-size: 14px;
        background-size: 30px;
    }

    










    .second-footer li{
        width: 33.33333%;
        display: flex;
        margin: 0;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    .delivery img{
        margin: 0 auto;
        width: 30px;
        height: 25px;
    }
    
    .quality img{
        margin: 0 auto;
        width: 30px;
        height: 30px;
    }
    
    .secured img{
        margin: 0 auto;
        width: 30px;
        height: 30px;
    }

    .secured span{
        padding: 7px 20px;
    }

    .second-footer span{
        margin: 10px 0;
        padding: 0;
        font-size: 12px;
        text-align: center;
    }



    footer ul i{
        width: 50px;
        height: 35px;
        background-size: 52px 35px;
    }

    footer ul img{
        width: 50px;
    }

    .footer-cont{
        flex-direction: column;
    }
    
    .footer-cont ul{
        margin-top: 20px;
        margin-bottom: 10px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    footer .footer-help{
        width: 100%;
        font-size: 14px;
        text-align: center;
    }






    .help-btn button{
        font-size: 8px;
        background-size: 15px;
    }
}