*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans";
}

body{
    margin-bottom: 20px;
    padding-top: 114px;
}

::-webkit-scrollbar{
    display: none;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 10px 0 0 0;
    box-sizing: border-box;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.header-top{
    height: 37px;
    display: flex;
    justify-content: space-between;
}

.header-loc{
    margin-left: 151px;
    display: flex;
    cursor: pointer;
}

.header-loc div{
    width: 183px;
    font-size: 0.75em;
    font-weight: 400;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 1px solid #bbb;
    border-radius: 10px 0 0 10px;
    background-position: 150px center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.header-loc .down{
    background-image: url("asset/down.svg");
}

.header-loc .up{
    background-image: url("asset/up.svg");
}

.header-loc button{
    width: 77px;
    color: #d0d0d0;
    font-weight: 700;
    text-align: center;
    box-sizing: border-box;
    font-size: 0.75em;
    padding: 10px 30px;
    font-family: "Work Sans";
    outline: none;
    border: none;
    cursor: pointer;
    border: 1px solid #00645b;
    border-radius: 0 23px 23px 0;
    background-color: #00645b;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header-loc button:hover{
    color: #333333;
    background-color: white;
}

.header-top .drop-down{
    display: none;
    position: absolute;
    top: 48px;
    left: 150px;
    list-style: none;
    width: 183px;
    height: 200px;
    padding: 0 15px;
    font-weight: 500;
    color: #333333;
    box-sizing: border-box;
    overflow-y: scroll;
    background-color: white;
    box-shadow: 0 4px 13px 3px rgba(0, 0, 0, .1);
    transition: .2s ease;
}

.header-top .drop-down li{
    padding: 12px 0;
    cursor: pointer;
}

.header-info{
    width: 325px;
    display: flex;
}

.header-info a{
    color: #333333;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    margin: 0 20px 0 0;
}

.header-info .phone{
    width: 17px;
    height: 17px;
    margin-right: 10px;
    background-image: url("asset/phone.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-info .email{
    width: 17px;
    height: 17px;
    margin-right: 10px;
    background-image: url("asset/email.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 20px;
    box-sizing: border-box;
}

.header-left{
    display: flex;
    flex-direction: row;
}

.logo{
    margin-top: -10px;
}

nav{
    margin: 0 20px;
}

nav > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

nav > ul > li{
    display: flex;
    align-items: start;
}

nav .expend{
    padding-right: 14px;
    background-image: url("asset/down.svg");
    background-position: right 11px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.greener-promise:hover .greener-drop-down{
    display: flex;
}

.greener-drop-down{
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 50px;
    border-top: 5px solid #078d73;
    background-color: white;
}

.greener-drop-down > a{
    margin-left: 50px;
    margin-right: 100px;
    font-size: 1.975em;
    font-weight: 900;
    font-family: "Source Serif 4", serif;
    font-style: italic;
    color: #078d73;
}

.greener-drop-down ul{
    list-style: none;
    display: flex;
    padding: 20px 25px;
    box-sizing: border-box;
}

.greener-drop-down ul li a{
    font-weight: 700;
}

.brands:hover .brand-dropdown{
    display: flex;
}

.brand-dropdown{
    width: 50vw;
    position: absolute;
    top: 100%;
    display: none;
    background: #fff;
    padding: 15px 20px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    overflow: hidden;
    border-radius: 10px;
}

.brand-dropdown section{
    margin-right: 50px;
}

.brand-dropdown h3{
    margin-bottom: 10px;
}

.brand-dropdown .h3-1{
    color: #078d73;
}

.brand-dropdown .h3-2{
    color: #0a5f8d;
}

.brand-dropdown .h3-3{
    color: #041377;
}

.brand-dropdown section ul{
    list-style: disc;
    margin-left: 20px;
}

.brand-dropdown section li{
    padding: 10px 0;
}

.brand-dropdown section a{
    padding: 0;
}

.news-room:hover .news-room-drop-down{
    display: flex;
}

.news-room-drop-down{
    top: 100%;
    display: none;
    flex-direction: column;
    position: absolute;
}

.news-room span{
    width: 20px;
    height: 20px;
    margin-left: 60px;
    margin-bottom: -10px;
    border-radius: 2px;
    transform: rotate(45deg);
    background-color: white;
}

.news-room-drop-down ul{
    list-style: none;
    padding: 15px 15px 5px 15px;
    border-radius: 10px;
    background-color: white;
}

.news-room-drop-down li{
    font-size: 16px;
    margin-bottom: 15px;
}

.news-room-drop-down li a{
    padding: 0;
    color: #333333;
    font-weight: 600;
}

nav .active{
    border-bottom: 3px solid #00645b;
}

nav li a{
    font-size: 1em;
    font-weight: 450;
    text-decoration: none;
    color: #333333;
    border-bottom: 3px solid white;
    padding: 10px 14px 15px 25px;
}

.header-right{
    display: flex;
    margin-right: 10px;
}

.header-right button{
    width: 32px;
    height: 32px;
    margin-right: 18px;
    border-radius: 50%;
    border: none;
    background-color: #00b2a2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
}

.header-right .search{
    background-image: url("asset/search.svg");
}

.header-right .login{
    background-image: url("asset/user.svg");
    background-size: 21px 21px;
}

.header-right .cart{
    background-image: url("asset/cart.svg");
    background-size: 20px 20px;
}







.sliding-text-container {
    width: 100%;
    z-index: -1;
    position: relative;
    overflow: hidden;
    background-color: #c1d8de;
    border: 1px solid white;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.sliding-text {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 30s linear infinite;
    font-size: 0.880em;
    font-family: Arial, sans-serif;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.text-wrapper {
    display: inline-block;
    padding-right: 100%;
}







.banner-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: auto;
}

.banners {
    display: flex;
    flex-direction: column;
    transition: transform 0.8s ease-in-out;
}

.banner {
    width: 100%;
    height: auto;
    position: relative;
}

.banner img {
    width: 100%;
}

.buttons {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 91, 74, .5);
}

.button {
    font-size: 1.25em;
    padding: 6px 30px;
    font-family: 500;
    color: white;
    font-family: "Work Sans";
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0);
    cursor: pointer;
    background-color: rgba(0,0,0,0);
}

.button:hover, .button.active {
    font-weight: 600;
    border-bottom: 3px solid white;
}











.backtoup {
    width: 57px;
    height: 57px;
    position: fixed;
    right: 18px;
    bottom: 210px;
    display: none;
    outline: none;
    background-color: #00645b;
    background-image: url("asset/white-up.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px 28px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

html {
    scroll-behavior: smooth;
}

.chat-btn{
    color: white;
    background-color: #00b2a2;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
}

.help-btn{
    position: fixed;
    bottom: 30px;
    right: 32px;
}

.help-btn button{
    color: white;
    border: none;
    outline: none;
    font-size: 11px;
    font-weight: 500;
    border-radius: 25px;
    padding: 17px 12px 17px 40px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
    background-color: #00b2a2;
    background-image: url("asset/help-chat.jpg");
    background-position: 12px center;
    background-repeat: no-repeat;
    background-size: 18px 18px;

}

.help-btn:hover{
    border-radius: 5px 5px 0 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.help-btn button:hover{
    background-color: #008d7b;
}


















.scroller{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #edf6f4;
}

.scroller section{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.scroller section h2{
    font-size: 55px;
    text-align: center;
    color: #333333;
    font-style: italic;
    font-weight: 900;
    font-family: "Source Serif 4", serif;
}

.scroller span a{
    float: right;
    color: #00645b;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 30px 10px 0px;
}

.scroller .blogs{
    max-width: 1240px;
    width: 100%;
    display: flex;
    padding: 80px 0;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.scroller article{
    width: 270px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    border-radius: 10px;
    background-color: white;
}

.scroller article div{
    padding: 30px 20px 40px;
}

.scroller article img{
    width: 270px;
    border-radius: 10px;
}

.scroller article h3{
    font-size: 18px;
    color: #333333;
    margin-bottom: 60px;
}

.scroller article p{  
    color: #333333;
    font-size: 14px;
    margin-bottom: 50px;
}

.scroller article a{
    color: #00645b;
}













.last-sec{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0 50px 0;
    background-color: #edf6f4;
}

.last-sec section{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.last-sec h4{
    color: #333333;
    display: block;
    font-style: italic;
    font-weight: 900;
    font-family: "Source Serif 4", serif;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.25em;
}

.last-sec p{
    color: #333333;
    font-weight: 500;
    display: block;
    font-size: 1.125em;
}

.last-sec .margin-top-10{
    margin-top: 10px;
}











footer{
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: #00b2a2;
}

.footer-cont{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pay-app{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.pay, .apps{
    display: flex;
    flex-direction: column;
}

.pay h4{
    width: 100%;
    margin-bottom: 30px;
}

.pay ul, .apps ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pay li img{
    width: 70px;
    margin-right: 10px;
}

.apps{
    padding: 0 0 0 100px;
}

.apps h4{
    width: 100%;
    margin-bottom: 20px;
}

.apps ul{
    align-items: center;
}

.apps li img{
    margin-right: 10px;
}

.bisleri-bottles{
    width: 110px;
}


.lists{
    padding: 40px 0;
    display: flex;
    flex-direction: row;
}

.lists div{
    width: 300px;
}

.lists ul{
    font-size: 14px;
    list-style: none;
    margin-bottom: 50px;
}

.lists ul li{
    font-weight: 500 !important;
    margin-bottom: 25px;
}

.lists ul li:first-child{
    font-weight: 700;
    margin-bottom: 30px;
}

.lists ul li a{
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.lists ul .email{
    margin: 0 !important;
    line-height: 30px;
}

.lists ul .phone{
    margin-bottom: 10px;
}

.lists ul .time{
    margin-bottom: 10px;
}

.lists ul .days{
    margin-bottom: 25px;
}

.social-links{
    display: flex;
    flex-direction: row;
}

.social-links li{
    width: 23px;
    height: 23px;
    margin-right: 5px;
}

.social-links li a{
    width: 23px;
    height: 23px;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 23px;
}

.social-links .facebook{
    background-image: url("./asset/facebook.jpg");
}

.social-links .twitter{
    background-image: url("./asset/x.jpg");
}

.social-links .instagram{
    background-image: url("./asset/insta.jpg");
}

.social-links .youtube{
    background-image: url("./asset/youtube.jpg");
}



.copyright{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.copyright .copyright-text p{
    font-size: 14px;
}

.copyright .base-links{
    max-width: 550px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.copyright .base-links a{
    font-size: 14px;
    color: white;
    text-decoration: none;
}














.stat-wrapper{
    width: 100%;
    display: flex;
    padding: 30px 0 50px;
    flex-direction: column;
}

.stat-wrapper h3{ 
    color: #078d73;
    font-weight: 700;
    font-size: 3.125em;
    margin-bottom: 10px;
    text-align: center;
    transition: all 1s ease-out;
    font-style: italic;
    font-weight: 900;
    font-family: "Source Serif 4", serif;
}

.stat-wrapper p{
    text-align: center;
}

.stat-wrapper section{
    margin: 50px 0;
    display: flex;
    background-color: #bbfff5;
}

.stat-wrapper .stat-div{
    width: 45%;
    padding-left: 50px;
    padding-right: 50px;
}

.stat-wrapper .inner-div{
    height: 100%;
    padding: 50px 0;
}

.stat-wrapper .inner-div img{
    width: 32%;
}

.stat-wrapper .inner-div .content {
    color: #4d4c4c;
    margin: 50px 0;
}

.stat-wrapper .inner-div .content p{
    text-align: left;
    font-weight: 700;
    font-size: 1.375em;
    margin-bottom: 10px;
}

.stat-wrapper .inner-div .content h5{
    font-size: 1.875em;
    margin-bottom: 10px;
}

.leading-numbers{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.leading-numbers li {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-bottom: 50px;
    width: calc(50% - 50px);
}

.leading-numbers li .counts {
    font: 700 2.05em "Work Sans";
    color: #4d4c4c;
    margin-bottom: 10px;
}

.leading-numbers li .text {
    font: 500 1em "Work Sans";
    color: #4d4c4c;
}

.stat-wrapper .group-btn{
    display: flex;
}

.stat-wrapper .group-btn a{
    color: #333333;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 30px 10px 0px;
}

.stat-wrapper .btn-link{
    margin-right: 30px;
}










.distributor-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0 50px;
}

.distributor-wrapper section{
    max-width: 1240px;
    width: 100%;
    display: flex;
    padding: 0 20px;
    box-sizing: border-box;
    flex-direction: column;
}

.distributor-wrapper h3{ 
    color: #078d73;
    font-weight: 700;
    font-size: 3.125em;
    margin-bottom: 10px;
    text-align: center;
    transition: all 1s ease-out;
    font-style: italic;
    font-weight: 900;
    font-family: "Source Serif 4", serif;
}

.distributor-wrapper p{
    text-align: center;
}

.feature-card-wrap{
    margin: 40px 0;
    display: flex;
}

.feature-card{
    position: relative;
}

.feature-detail{
    left: 25px;
    bottom: 25px;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.feature-card::before {
    content: "";
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 5px;
    left: 0;
    border-radius:  0 0 5px 5px;
    background: #000;
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .71));
}

.feature-detail .counts{
    font: 700 3.125em "Work Sans";
    color: #fff;
}

.feature-detail .name {
    font: 500 1.5em Work Sans;
    color: #e0d559;
    text-transform: uppercase;
}

.feature-card-wrap img{
    width: 100%;
    border-radius: 5px;
}

.distributor-wrapper .foot-p{
    padding: 0 20px;
    font: 500 1.125em "Work Sans";
    line-height: 1.5;
    color: #333333;
}

.distributor-wrapper .group-btn{
    display: flex;
    justify-content: center;
}

.distributor-wrapper .group-btn a{
    color: #00645b;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 30px 10px 0px;
}

.distributor-wrapper .btn-link{
    margin-right: 30px;
}












